.largeText {
  font-size: 2em;
  color: white;
  text-align: left;
}


.mediumText {
  font-size: 1.5em;
  color: #0000ff;
  text-align: right;
  background-color: yellow !important;
}

.smallText {
  font-size: 1em;
  color: #a63db8 !important;
  text-align: 'center';
  background-color: rgb(222,222,222) !important;
}

.xtraSmallText {
  font-size: 0.75em;
  text-align: center;
  background-color: maroon !important;
}
