<mat-card class="card-demo" (click)="toggleDirection()">
  <mat-card-title>'Flex' to Fill Row (FlexRowFillComponent)</mat-card-title>
  <mat-card-subtitle
    >Simple row using "flex" on 3rd element to fill available main axis.
  </mat-card-subtitle>
  <mat-card-content>
    <!-- style="cursor: pointer;" -->
    <div class="containerX">
      <div
        [fxLayout]="direction"
        (click)="toggleDirection()"
        class="colored box cursorPointer"
      >
        <div [fxFlex]="someValue">fxFlex="20"</div>
        <div fxFlex="60">fxFlex="60"</div>
        <div fxFlex>fxFlex</div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div class="hint">&lt;div fxLayout="{{ direction }}" &gt;</div>
  </mat-card-footer>
</mat-card>
